/* /* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
 @keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon:hover .main-body {
  opacity: 1;
  fill: var(--heart-original-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  opacity: 1;
  fill: var(--heart-original-color, #000);
  transition: fill 0.3s 0.1s ease;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--heart-animation-color, #ff0000);
  transition: fill 0.3s ease;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--heart-animation-color, #ff0000);
  transition: fill 0s ease;
}

.like-icon:active .contour {
  opacity: 1;
  fill: var(--heart-animation-color, #ff0000);
  transition: fill 0.6s ease;
}

.like-icon:not(:hover):not(:active) .core {
  fill: transparent;
  transition: 0.3s 0.03s ease ;
}

.like-icon:not(:hover):not(:active) .main-body {
  fill: transparent;
  transition: 0.3s;
}

.like-icon .contour {
  transition: 0.1 linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-animation-color, red);
  transition: 0.3s 0.06s ease ;
}

.like-icon.is-liked .core {
  fill: var(--heart-animation-color, red);
  transition: 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-animation-color, red);
  transition: 0.3s 0.05s ease ;
}

.like-icon.is-liked:not(:hover):not(:active) .core {
  fill: var(--heart-animation-color, red);
}

.like-icon.is-liked:not(:hover):not(:active) .main-body {
  fill: var(---heart-animation-color, red);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
} 