
:root {
    --button-shadow: 2px 2px 0 #000;
    --bg-image-grad: 
    repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px ), 
    repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px ), 
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --base-font-family: 'Inter';
    --accent-font-family: 'PressStat2P';
    --base-font-wght: 700;
    --heading-font-wght: 400;
    --text-color: #000;
    --base-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --rubber-width: clamp(23.4375rem, 0rem + 100vw, 90rem);
    --button-color-difference: #fff;
    --heart-original-color: #000;
    --heart-animation-color: #FF0000;
    --border-box: 2px solid #000;
}
